<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://unpkg.com/htmx.org@1.9.6"
      integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <header>
      <h1 style="font-size: 24px; text-align: center">HTMX Demo webshop</h1>
      <nav>
        <div class="nav-links" hx-boost="true">
          <a href="/">Home</a>
          <a href="/items">Food</a>
          <a href="/beverages">Beverages</a>
          <a href="/toys">Toys</a>
          <a href="/used-cars">Used Cars</a>
        </div>
        <a href="/cart">Cart</a>
      </nav>
    </header>
    <div>
      <button
        class="btn"
        hx-post="/submit"
        hx-prompt="Enter a string"
        hx-confirm="Are you sure?"
        hx-target="#response"
      >
        Prompt Submission
      </button>
      <div id="response"></div>
    </div>
    <div id="scrollable">
      {{ range . }}
      <div class="item" >
        <h3>Name: {{ .Name }}</h3>
        <p>Price: {{ .Price }}</p>
        <img
          src="{{ .ImageURL }}"
          alt="{{ .Name }}-picture"
          style="width: 100px; height: 100px"
        />
      </div>
      {{ end }}
      <button
        class="scrollbtn"
        hx-get="/getItems?firstIndex={{ (index . 0).Id}}"
        hx-target="#scrollable"
      >
        Get Items
      </button>
    </div>

    <div id="items"></div>
  </body>
</html>
